name: Autograding Tests
on: [push]
jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Configure and Build
        run: |
          cmake -S . -B build
          cmake --build build
      - name: Run logic tests
        run: ./build/test_runner
